<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/iib2_ue1_2_gruppe1?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">iib2</property>
    <mapping resource="mysqlBean/Eigentuemer.hbm.xml"/>
    <mapping resource="mysqlBean/Gebaeude.hbm.xml"/>
    <mapping resource="mysqlBean/Schadenslage.hbm.xml"/>
    <mapping resource="mysqlBean/Beruf.hbm.xml"/>
    <mapping resource="mysqlBean/Adresse.hbm.xml"/>
    <mapping resource="mysqlBean/Schaden.hbm.xml"/>
    <mapping resource="mysqlBean/Schadensart.hbm.xml"/>
    <mapping resource="mysqlBean/Gutachter.hbm.xml"/>
    <mapping resource="mysqlBean/Multimedia.hbm.xml"/>
    <mapping resource="mysqlBean/Handwerker.hbm.xml"/>
    <mapping resource="mysqlBean/Auftrag.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
