/build/
/dist/
/nbproject/private/
/iib2_ue1_1_gruppe1/nbproject/private/
/iib2_gruppe1/nbproject/private/
/iib2_gruppe1/build/
/iib2_gruppe1/dist/
/iib2_ue1_1_gruppe1/build/
/iib2_ue1_1_gruppe1/dist/
/iib2_ue1_2_gruppe1/dist/
/iib2_ue1_2_gruppe1/build/